.BarLangue {
  margin-top: -1rem;
  position: absolute;
  z-index: 6;
  background-color: #000;
  width: 100%;
  height: 40px;
}

.BarLangue ul {
  padding-top: 18px;
}

.BarLangue a {
  margin-left: 1rem;
}

#Langues {
  position: fixe;
  z-index: 10;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.dotted-scrollspy {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.LangueActive {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.LangueNonActive {
  color: rgba(255, 255, 255, 0.7);
}

.LangueNonActive:hover {
  color: white;
}

.Ht {
  color: orange;
  font-size: 3.5rem;
}

#NavBar {
  background-color: rgba(50, 50, 50, 0.9);
  position: absolute;
  z-index: 4;
  width: 100%;
}

.active {
  color: rgba(255, 165, 0, 0.9);
}

.active:hover {
  color: white;
}

#EnSavoirPlus {
  background-color: #323232;
  position: relative;
  margin-top: 8rem;
  height: 15rem;
  border-radius: 3%;
  padding-top: 2rem;
}

.AccueilSection1 {
  background-color: #e7ebf6;
  height: 45rem;
  margin-top: -1rem;
}

#carousel-example-multi img {
  height: 100px;
}

.AccueilSection2 {
  margin-top: -10rem;
  background-color: #fff;
  height: 40rem;
  width: 100%;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid #fff;
  border-radius: 3%;
}

#ButtonEnSavoirPlus {
  background-color: #ffa600;
  color: black;
}

#ButtonEnSavoirPlus:hover {
  background-color: white;
  color: orangered;
}

.video-fluid {
  width: 100%;
  height: auto;
}

#HeaderCarousel {
  position: absolute;
  z-index: 1;
}

.TextCarousel {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 11rem;
  font-family: 'Lato', sans-serif;
}

footer {
  background-color: rgba(50, 50, 50, 0.9);
}

#contact {
  position: absolute;
  z-index: 4;
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.ContactSection {
  background-color: #f3f3f3;
  min-height: calc(100vh - 86px);
  padding-top: 10rem;
}

.Charge {
  position: fixed;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: wait;
  z-index: 10;
}

@media screen and (min-width: 1301px) and (max-width: 1600px) {
  #EnSavoirPlus {
    margin-top: 11.5rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
  #EnSavoirPlus {
    margin-top: 5.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #EnSavoirPlus {
    margin-top: 0.1rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
  #EnSavoirPlus {
    margin-top: 1.3rem;
  }
  #video {
    margin-top: 6.5rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  #NavBar {
    background-color: #323232;
  }
  #EnSavoirPlus {
    margin-top: -2.5rem;
  }
  #video {
    margin-top: 2.5rem;
  }
  .TextCarousel {
    margin-top: 0.8rem;
    font-size: 20px;
  }
  .Ht {
    font-size: 2rem;
  }
  .pp {
    visibility: hidden;
  }
  .AccueilSection2 {
    margin-top: -8rem;
    margin-bottom: 18rem;
  }
  #Partie2 {
    margin-top: -60rem;
  }
  #Partie1 {
    margin-top: 25rem;
  }
  #Image1Accueil {
    visibility: hidden;
  }
}

@media screen and (min-width: 415px) and (max-width: 500px) {
  #NavBar {
    background-color: #323232;
  }
  #EnSavoirPlus {
    margin-top: -5.6rem;
  }
  #video {
    margin-top: -0.4rem;
  }
  .TextCarousel {
    margin-top: 0.8rem;
    font-size: 7px;
  }
  .Ht {
    font-size: 2rem;
  }
  .pp {
    visibility: hidden;
  }
  .AccueilSection2 {
    margin-top: -8rem;
    margin-bottom: 23.5rem;
  }
  #Partie2 {
    margin-top: -68rem;
  }
  #Partie1 {
    margin-top: 33rem;
  }
  #Image1Accueil {
    visibility: hidden;
  }
}

@media screen and (min-width: 361px) and (max-width: 414px) {
  #NavBar {
    background-color: #323232;
  }
  #video {
    margin-top: -2rem;
  }
  #EnSavoirPlus {
    margin-top: -7.4rem;
  }
  .TextCarousel {
    margin-top: 0.8rem;
    font-size: 7px;
  }
  .Ht {
    font-size: 2rem;
  }
  .pp {
    visibility: hidden;
  }
  .AccueilSection2 {
    margin-top: -8rem;
    margin-bottom: 23.5rem;
  }
  #Partie2 {
    margin-top: -68rem;
  }
  #Partie1 {
    margin-top: 33rem;
  }
  #Image1Accueil {
    visibility: hidden;
  }
}

@media screen and (max-width: 360px) {
  #NavBar {
    background-color: #323232;
  }
  #video {
    margin-top: -2rem;
  }
  #EnSavoirPlus {
    margin-top: -7.4rem;
  }
  .TextCarousel {
    margin-top: 0.8rem;
    font-size: 7px;
  }
  .Ht {
    font-size: 2rem;
  }
  .pp {
    visibility: hidden;
  }
  .AccueilSection2 {
    margin-top: -8rem;
    margin-bottom: 23.5rem;
  }
  #Partie2 {
    margin-top: -68rem;
  }
  #Partie1 {
    margin-top: 33rem;
  }
  #Image1Accueil {
    visibility: hidden;
  }
}

@media screen and (max-width: 320px) {
  .AccueilSection2 {
    margin-top: -8rem;
    margin-bottom: 25rem;
  }
  #Partie2 {
    margin-top: -71rem;
  }
  #Partie1 {
    margin-top: 35rem;
  }
  #Image1Accueil {
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */